<article class="autocomplete">
	<!-- Autocomplete -->
	<input
		nbInput
		type="text"
		placeholder="Type country"
		[nbAutocomplete]="auto"
		[formControl]="inputFormControl"
	/>

	<nb-autocomplete #auto>
		<nb-option-group
			*ngFor="let group of filteredGroups$ | async; trackBy: trackByFn"
			[title]="group.name"
		>
			<nb-option *ngFor="let option of group.children" [value]="option">
				{{ option }}
			</nb-option>
		</nb-option-group>
	</nb-autocomplete>

	<!-- Actions -->
	<section class="autocomplete__actions">
		<button nbButton outline status="primary">
			<nb-icon icon="search-outline"></nb-icon>search
		</button>
		<button nbButton outline status="primary">
			<nb-icon icon="refresh-outline"></nb-icon>refresh
		</button>
	</section>
</article>
