@use 'styles' as styles;

.chart {
	--chartHeight: 250px;
	--chartWidth: 100%;

	& {
		height: 100%;
	}

	&__body {
		overflow: hidden;
	}

	&__actions {
		display: flex;
		align-items: center;

		button {
			margin-left: auto;
		}
	}

	&__label {
		margin: 0;
		font-family: styles.$quicksand !important;
		@include styles.fontsizeHeadingThree();

		&--expands {
			@include styles.fontsizeHeadingTwo();
		}
	}

	&__canvas {
		display: flex;
		height: var(--chartHeight);
		width: var(--chartWidth);

		canvas {
			width: 100%;
			margin: auto;
		}
	}

	&--expands {
		--chartWidth: 1080px;
		--chartHeight: 800px;
	}
}
