@use 'styles' as styles;

:host {
	width: 100%;
}

.header {
	display: flex;
	align-items: center;

	&__actions {
		display: flex;
		gap: styles.spacing(s);
	}

	&__search {
		margin-left: auto;
		display: flex;
		gap: styles.spacing(s);

		&__actions {
			display: flex;
			gap: styles.spacing(s);
		}

		[nbInput] {
			min-width: 450px;
		}
	}
}
