<article class="header">
	<!-- Actions -->
	<section class="header__actions">
		<a
			nbButton
			outline
			status="primary"
			size="small"
			target="_blank"
			href="https://iamgld.com/home"
		>
			<nb-icon icon="external-link-outline"></nb-icon>iamgld
		</a>
		<a
			nbButton
			outline
			status="primary"
			size="small"
			target="_blank"
			href="https://github.com/iamgld/vemo-challenge"
		>
			<nb-icon icon="external-link-outline"></nb-icon>github
		</a>
		<a
			nbButton
			outline
			status="primary"
			size="small"
			target="_blank"
			href="https://www.linkedin.com/in/iamgld/"
		>
			<nb-icon icon="external-link-outline"></nb-icon>linkedin
		</a>
	</section>
	<!-- Search -->
	<section class="header__search">
		<!-- Input -->
		<input
			nbInput
			type="text"
			placeholder="type name, capital, continent, currencies, languages"
			[formControl]="inputFormControl"
		/>

		<!-- Actions -->
		<section class="header__search__actions">
			<button
				nbButton
				outline
				status="danger"
				size="small"
				nbSpinnerStatus="danger"
				[nbSpinner]="isLoadingSearch"
				(click)="onClearFilter()"
			>
				<nb-icon icon="funnel-outline"></nb-icon>clear
			</button>
			<button
				nbButton
				outline
				status="primary"
				size="small"
				nbSpinnerStatus="primary"
				[nbSpinner]="isLoadingRefresh"
				(click)="onRefreshCountries()"
			>
				<nb-icon icon="refresh-outline"></nb-icon>refresh
			</button>
		</section>
	</section>
</article>
