@use 'styles' as styles;

.card {
	--size: 500px;

	width: var(--size);
	height: var(--size);

	&__title {
		font-family: styles.$quicksand;
		font-weight: bold;
		opacity: 0.8;
	}

	&__paragraph {
		font-family: styles.$roboto;
		padding-left: styles.spacing(s);
	}

	&__image {
		max-width: 100%;
		display: inline-block;
		object-fit: cover;
		border-radius: styles.radius(xs);
	}
}
