@use 'styles' as styles;

.home {
	height: 100vh;

	&__column {
		display: grid;
		grid-template-columns: 400px 1fr;
		gap: styles.spacing(s);
		// height: calc(100vh - 76px);
		padding: styles.spacing(xxs) !important;
	}

	&__scroll {
		height: calc(125vh);
		overflow-y: scroll;
	}
}
