<nb-card
	class="chart"
	accent="success"
	nbSpinnerStatus="success"
	nbSpinnerSize="giant"
	[nbSpinner]="isLoading"
	[class.chart--expands]="chartExpands"
>
	<nb-card-body class="chart__body">
		<!-- Label & Actions -->
		<section class="chart__actions">
			<p class="chart__label" [class.chart__label--expands]="chartExpands">
				5 Most populated countries
			</p>
			<button
				nbButton
				outline
				status="primary"
				size="small"
				*ngIf="!chartExpands"
				(click)="openDialog(DialogChartsName.mostPopulated)"
			>
				<nb-icon icon="expand-outline"></nb-icon>expand
			</button>
		</section>

		<!-- Chart -->
		<section class="chart__canvas">
			<canvas
				baseChart
				[data]="barChartData"
				[options]="barChartOptions"
				[type]="barChartType"
				[plugins]="barChartPlugins"
			>
			</canvas>
		</section>
	</nb-card-body>
</nb-card>
