@use 'styles' as styles;

$chartSize: 250px;

.chart {
	height: 100%;

	&__body {
		overflow: hidden;
	}

	&__label {
		margin: 0 0 styles.spacing(s);
		text-transform: capitalize;
	}

	&__canvas {
		display: flex;
		height: 100%;
		height: $chartSize;

		canvas {
			width: 100% !important;
			// height: $chartSize !important;
			margin: auto;
		}
	}
}
